.next{
    color: #FFCC15;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 23.28px
}
.logo{
    width: 115px;
    height: 83px;
    line-height: 1.8rem;
    margin-left: 20%;
}
.the{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 23.28px;
    color: #fff;
}
.show{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 34.92px;
color: #FF3850;
}

.navlinks{
   position: relative;
   z-index: 10;
}


.links{
    width: 100%;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    
}
.navlinks a{
    text-decoration: none;
}

.others{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    /* margin-left: 5%; */
}
.others a{
    color: #fff;
    opacity: 50%;
}
.bars{
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.button button{
    width: 120px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    background-color: transparent;
    border: 1.5px solid #FFFFFF;
    color: #fff;
}
.button{
    padding: 10px;
}

.toggle{
    color: #FFFFFF;
    font-size: 30px;
    cursor: pointer;
    display: none;
}


@media (max-width: 768px){
    .toggle{
        display: block;
    }
    .others{
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 20px;
        flex-direction: column;
    }
    .bars{
        height: 400px;
        background-image: url("../../assets/aust.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        position: absolute;
        flex-direction: column;
        padding-left: 60px;
        gap: 1rem;
        top: 130px;
        right: 0;
        left: 0;
        width: 100%;
    }
    .bars .open{
        display: flex;
    }
    .bars .close{
        display: none;
    }
}