.con{
width: 100%;
max-width: 1500px;
min-height: 110vh;
position: absolute;
top: 0;
background-position: inherit;
background-size: cover;
background: linear-gradient(261.16deg, rgba(17, 47, 200, 0.3) 12.85%, rgba(217, 15, 100, 0.3) 87.91%), linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 75%), url('./../../assets/nell.png');
}
.about{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 50px;
    font-weight: bolder;
    padding: 300px;
}

.partners2{
    width: 100%;
    min-height: 70vh;
    background-color: #fff; 
    position: absolute;
    top: 55rem;
}

.partwords2{
    display: flex;
   justify-content: center;
    margin: 50px;
    text-align: center;
    align-items: center;
}

.partners2 h1{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 60px;
    font-weight: bolder;
    color: #71767D;
}


.f1stpart2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.s2ndpart2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 30px;
}
.footer2{
    width: 100%;
    position: absolute;
    top: 85rem;
}
.allnotes{
    width: 100%;
    min-height: 150vh;
    background-color: #fff;
    position: absolute;
    top: 140rem;
}
.allintro{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 80px;
}
.allintro h3{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    font-weight: bolder;
    color: #017297;
}
.allintro p{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
}

@media (max-width: 960px){
    .con{
        width: 100%;
        max-width: 960px;
        min-height: 110vh;
        background-image: url("../../assets/nell.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
    }
    .partners2{
        width: 100%;
        min-height: 70vh;
        position: absolute;
        top: 45rem;
    }
    .partners2 h1{
        font-size: 40px;
    }
    .f1stpart2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;
    }
    .f1stpart2 img{
      width: 150px;
    }
    .s2ndpart2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;
    }
    .s2ndpart2 img{
        width: 150px;
    }
    .allintro{
        gap: 2rem;
        padding: 50px;
        text-align: center;
    }
    .allintro h3{
        font-size: 18px;
    }
    .allintro p{
        font-size: 15px;
    }
}